<nav class="navbar navbar-expand-lg   shadow">
  <div class="logo"><a href="#"><img src="static/images/logo.jpg" style="width:150px"></a></div>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">



      <li class="nav-item active">
        <a class="nav-link" href="/#" style="color: darkblue">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contract">Contact</a>
      </li>
      <li class="nav-item dropdown">

        <li class="nav-item">
        <a class="nav-link" href="#">Events And Notice</a>
      </li>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider">

          </div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Academic Programs</a>
      </li>
    </ul>

    <button class="btn1"> LOGIN </button>
        <div class="mobile-position">
             <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="darkSwitch">
                  <label class="custom-control-label" for="darkSwitch" style="color: #0b2e13">Dark</label>
             </div>

  </div>
</nav>